/* custom properties */

:root {
    --clr-primary-BrightRed: hsl(12, 88%, 59%);
    --clr-primary-DarkBlue: hsl(228, 39%, 23%);

    --clr-neutral-DarkGrayishBlue: hsl(227, 12%, 61%);
    --clr-neutral-VeryDarkBlue: hsl(233, 12%, 13%);
    --clr-neutral-VeryPaleRed: hsl(13, 100%, 96%);
    --clr-neutral-VeryLightGray: hsl(0, 0%, 98%);

    --ff-primary: 'Be Vietnam Pro', sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

    --fs-16: 1rem;
    --fs-30: 2rem;
    --fs-40: 3rem;
}




/* Set defaults */

* {
    font: inherit;
    font-family: var(--ff-primary);
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

h1, h2, h2 {
    line-height: 1.15;
}

img,
svg {
    display: block;
    max-width: 100%;
}

.default-width {
    width: 80%;
    max-width: 1440px;
    margin-inline: auto;
}


/* Header */

header {
    padding: 48px 0;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 24px;
}

.nav-link,
.nav-link a {
    list-style: none;
    text-decoration: none;
    color: var(--clr-primary-DarkBlue);
    font-weight: var(--fw-semi-bold);
}

.button {
    padding: 8px 32px;
    background-color: var(--clr-primary-BrightRed);
    border: 0;
    border-radius: 32px;
    color: var(--clr-neutral-VeryPaleRed);
    font-weight: var(--fw-semi-bold);
    box-shadow: 0 8px 16px var(--clr-primary-BrightRed);
}

.bg-img-one {
    position: absolute;
    top: -30vh;
    right: -30vh;
    z-index: -1;
    
}

/* Main */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    margin-bottom: 32px;
}

.hero-text {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: flex-start;
}

.hero h1 {
    font-size: var(--fs-40);
    font-weight: var(--fw-bold);
    color: var(--clr-primary-DarkBlue);
}

.hero p,
.content p {
    color: var(--clr-neutral-DarkGrayishBlue);
    font-weight: var(--fw-regular);
    width: 80%;
    margin-bottom: 48px;
}

.content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 32px;
}

.content-info h2 {
    color: var(--clr-primary-DarkBlue);
    font-size: var(--fs-30);
    font-weight: var(--fw-bold);
    margin-bottom: 32px;
}

.bg-img-two {
    position: absolute;
    left: -85vh;
    z-index: -1;
    
}

.content-list li {
    list-style: none;
}

.content-list h3 {
    color: var(--clr-primary-DarkBlue);
    font-weight: var(--fw-bold);
    margin-bottom: 24px;
}

.testimonial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 96px;
}

.testimonial h2 {
    color: var(--clr-primary-DarkBlue);
    font-size: var(--fs-30);
    font-weight: var(--fw-bold);
}

.cta {
    background-color: var(--clr-primary-BrightRed);
}

.cta-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
}

.cta h3 {
    color: var(--clr-neutral-VeryPaleRed);
    font-size: var(--fs-30);
    font-weight: var(--fw-bold);
    width: 40%;
}

#button-light {
    color: var(--clr-primary-BrightRed);
    background-color: var(--clr-neutral-VeryPaleRed);
    box-shadow: 0 8px 16px var(--clr-neutral-VeryDarkBlue);
}



/* Footer */

footer {
    background-color: var(--clr-primary-DarkBlue);
}


/* Frontend Mentor default attribution */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
